<h1>Rock, Paper, Scissors</h1>
<p>In order to play, add your choice of weapon to the end of the page url after 'play' for each player. For example, http://localhost:4567/<span id = 'play'>play</span>/<span id = 'player1'>player1choice</span>, <span id = 'player2'>player2choice</span></p>